<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Query Page</title>
    </head>
    <body>
        <h1>Find a query for retrieval</h1>
        <form action="/query" method="POST" enctype="multipart/form-data">
            <h3>Path to query videos：</h3>
            <input type="text" name="video_path" placeholder="directory or a part of full path">
            <input type="submit" value="Display">
            <h3>Directory to save query videos：</h3>
            <input type="text" name="save_dir" placeholder="path to the directory">
            <input type="submit" value="Display">
        </form>

        <h3>Query candidates ({{ file_num }} videos)：</h3>
        {% for i in range(file_num) %}
            <p>{{ file_list[i] }}</p>
            <video src="{{ display_file_list[i] }}" loop autoplay muted></video>
        {% endfor %}
    </body>
</html>
