<!doctype html>
<html lang="ja">
    <ul>
        <li>
            <label for="action_1">Action 1：</label>
            <input type="checkbox" id="action_1" value=1>
            <br>
            <label for="person_1">Person 1：</label>
            <input type="checkbox" id="person_1" value=1>
            <br>
            <video src="/home/yuko/data/documents/大学・大学院/佐藤真一研究室/20210202_修論/資料/videos/shot189_437_id_2000337.mp4" loop autoplay muted></video>
        </li>

        <li>
            <label for="action_1">Action 1：</label>
            <input type="checkbox" id="action_1" value=1>
            <br>
            <label for="person_1">Person 1：</label>
            <input type="checkbox" id="person_1" value=1>
            <br>
            <video src="/home/yuko/data/documents/大学・大学院/佐藤真一研究室/20210202_修論/資料/videos/shot189_437_id_2000337.mp4" loop autoplay muted></video>
        </li>
    </ul>

    <style>
        ul {
            width: auto;
        }

        li {
            /* margin: 5px; */
            float: left;
            text-align: center;
            width: 210px;
            height: 210px;
            list-style: none;
        }

        video {
            max-width: 200px;
            max-height: 200px;
            vertical-align:middle;
            margin: auto;
        }

        .radio-button {
            vertical-align:middle;
        }
    </style>
</html>